@import url("https://fonts.googleapis.com/css?family=Rubik:400,500");
/* line 2, ../sass/carousel.sass */
.carousel-fade .carousel-inner .item {
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -ms-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
  opacity: 0.5;
}
/* line 9, ../sass/carousel.sass */
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
/* line 11, ../sass/carousel.sass */
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* line 16, ../sass/carousel.sass */
.carousel-inner {
  height: 400px !important;
}

/* line 21, ../sass/carousel.sass */
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
/* line 23, ../sass/carousel.sass */
.carousel-fade .carousel-control {
  z-index: 2;
}

/* line 26, ../sass/carousel.sass */
html, body, .carousel, .carousel-inner .item {
  height: 100%;
}

/* line 29, ../sass/carousel.sass */
.item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 33, ../sass/carousel.sass */
.item:nth-child(1) {
  background-image: url(../images/slideshow/car-hero-1.jpg);
}
/* line 35, ../sass/carousel.sass */
.item:nth-child(2) {
  background-image: url(../images/slideshow/car-hero-2.jpg);
}
/* line 37, ../sass/carousel.sass */
.item:nth-child(3) {
  background-image: url(../images/slideshow/car-hero-3.jpg);
}

/* line 40, ../sass/carousel.sass */
.carousel-overlay {
  position: absolute;
  bottom: 120px;
  right: 0;
  left: 0;
  /*text styles below just for demo */
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* line 22, ../sass/common.sass */
.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 27, ../sass/common.sass */
body {
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  background: white;
  color: #444;
  font-size: 14px;
}

/* line 33, ../sass/common.sass */
p, ul, li {
  color: #666;
  line-height: 1.5em;
}

/* line 37, ../sass/common.sass */
img {
  max-width: 100%;
}

/* line 40, ../sass/common.sass */
li {
  line-height: 1.5em;
}

/* line 43, ../sass/common.sass */
a {
  color: #2caadf;
  cursor: pointer;
}
/* line 46, ../sass/common.sass */
a:hover {
  color: #1c8cbc;
  text-decoration: none;
}

/* line 50, ../sass/common.sass */
h1, h2, h3 {
  font-weight: 500;
}

/* line 53, ../sass/common.sass */
h1 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 10px;
}

/* line 58, ../sass/common.sass */
h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* line 62, ../sass/common.sass */
h3 {
  font-size: 21px;
  margin-bottom: 10px;
}

/* line 66, ../sass/common.sass */
h4 {
  font-size: 16px;
  font-weight: bold;
}

/* line 70, ../sass/common.sass */
select, input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

/* line 79, ../sass/common.sass */
.left {
  float: left;
}

/* line 82, ../sass/common.sass */
.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

/* line 87, ../sass/common.sass */
.row-inset {
  max-width: 900px;
  margin: auto;
  padding: 0 15px;
}

/* line 93, ../sass/common.sass */
.content > div {
  margin-bottom: 40px;
  clear: both;
}
/* line 96, ../sass/common.sass */
.content > div:after {
  content: "";
  clear: both;
  display: block;
}

/* line 101, ../sass/common.sass */
select:-moz-focusring {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* line 107, ../sass/common.sass */
.header {
  background: white;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
}
/* line 114, ../sass/common.sass */
.header .header-brand a {
  background-image: url("../images/my-auto-insurance-savings-logo-wide.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin: auto;
  width: 386px;
  height: 50px;
  text-indent: -9999px;
  margin-right: 10px;
}

/* line 126, ../sass/common.sass */
.form-banner {
  position: relative;
  min-height: 400px;
}
/* line 130, ../sass/common.sass */
.form-banner h1 {
  color: white;
  font-weight: 500;
  margin: 0 0 10px;
  font-size: 48px;
}

/* line 136, ../sass/common.sass */
.form-div {
  max-width: 600px;
  margin: auto;
}
/* line 139, ../sass/common.sass */
.form-div input, .form-div select, .form-div .btn {
  display: block;
  width: 60%;
  margin: 0 auto 15px;
}
/* line 144, ../sass/common.sass */
.form-div.joined-button input, .form-div.joined-button .btn {
  display: inline;
  margin: 0;
  height: 46px;
  box-sizing: border-box;
}
/* line 149, ../sass/common.sass */
.form-div.joined-button input {
  width: 40% !important;
  border-radius: 5px 0 0 5px;
}
/* line 152, ../sass/common.sass */
.form-div.joined-button .btn {
  width: auto;
  border-radius: 0 5px 5px 0;
  position: relative;
  left: -5px;
  top: -1px;
}

/* line 159, ../sass/common.sass */
.zip-form {
  text-align: center;
}
/* line 161, ../sass/common.sass */
.zip-form p {
  color: white;
  font-size: 21px;
  margin: 0;
}

/* line 166, ../sass/common.sass */
.btn, .btn-primary {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-size: 16px !important;
  padding: 12px 30px !important;
  background: #f22f27 !important;
  border: none !important;
  border-radius: 5px;
  white-space: normal;
  cursor: pointer;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 0;
}
/* line 179, ../sass/common.sass */
.btn:hover, .btn-primary:hover {
  color: white;
  background: #d9150d !important;
  text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
  top: 1px;
  position: relative;
}

/* line 186, ../sass/common.sass */
.form-container {
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
/* line 190, ../sass/common.sass */
.form-container .form-header {
  text-align: center;
  background: #2caadf;
  padding: 15px 10px;
  border-radius: 5px 5px 0 0;
}
/* line 195, ../sass/common.sass */
.form-container .form-header h2 {
  color: white;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}
/* line 200, ../sass/common.sass */
.form-container .form-body {
  padding: 20px 30px;
}
/* line 202, ../sass/common.sass */
.form-container .form-footer {
  text-align: center;
  margin: 20px 0;
}

/* line 206, ../sass/common.sass */
.body {
  background: #2b3348;
  padding-bottom: 40px;
}
/* line 209, ../sass/common.sass */
.body h2, .body h3, .body p, .body ul, .body li {
  color: white;
}
/* line 211, ../sass/common.sass */
.body .row {
  padding: 20px 0;
}
/* line 214, ../sass/common.sass */
.body .insurance-logos img {
  margin-bottom: 40px;
}

/* line 217, ../sass/common.sass */
.card {
  background: white;
  border-radius: 5px;
  padding: 20px 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  transition: all 0.2s;
}
/* line 226, ../sass/common.sass */
.card.card-blue {
  background: #2caadf;
}
/* line 228, ../sass/common.sass */
.card img {
  margin: 10px;
}
/* line 230, ../sass/common.sass */
.card a:hover {
  text-decoration: none !important;
}
/* line 232, ../sass/common.sass */
.card:hover {
  position: relative;
  top: 1px;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 239, ../sass/common.sass */
.footer {
  background: #e3e3e3;
  clear: both;
  overflow: auto;
  padding: 30px 0;
  text-align: center;
}
/* line 245, ../sass/common.sass */
.footer p {
  color: #999;
  text-align: center;
}

/* line 252, ../sass/common.sass */
#privacy h1 {
  font-size: 30px;
  color: #2caadf;
  text-shadow: none;
  font-weight: 500;
}
/* line 257, ../sass/common.sass */
#privacy h2 {
  font-size: 20px;
  color: #2caadf;
  font-weight: 500;
  border-bottom: 3px solid #2caadf;
  padding-bottom: 10px;
  margin: 20px 0 10px;
  text-align: left;
}

@media (max-width: 1200px) {
  /* line 269, ../sass/common.sass */
  .container {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 281, ../sass/common.sass */
  .header .header-brand a {
    max-width: 320px;
    margin: auto;
    float: none;
    background-size: contain;
  }

  /* line 286, ../sass/common.sass */
  .row-inset {
    padding: 0 20px;
  }

  /* line 288, ../sass/common.sass */
  .form-div.joined-button input {
    width: 100% !important;
    text-align: center;
    max-width: 300px;
    margin: 0 auto 10px;
  }

  /* line 293, ../sass/common.sass */
  .card-blue {
    max-width: 300px;
    margin: 0 auto 20px;
  }
}
@media (max-width: 480px) {
  /* line 301, ../sass/common.sass */
  .form-banner {
    background-size: contain;
  }
  /* line 303, ../sass/common.sass */
  .form-banner h1 {
    font-size: 28px;
  }

  /* line 308, ../sass/common.sass */
  #privacy h1 {
    font-size: 28px;
  }
  /* line 310, ../sass/common.sass */
  #privacy h2 {
    font-size: 18px;
  }
}
